<% layout("layouts/boilerplate") %>

<div class="row mt-4">
  <div class="col-8 offset-2">
    <h3>Privacy Policy</h3>
    <p>
      This is a demo privacy page for StayEase. Update this content with your
      actual privacy policy.
    </p>
  </div>
</div>
