:root{
    --primary-color: #fe424d;
    --text-color: #222222;
    --bg-light: #ebebeb;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.navbar .nav-link{
    color: var(--text-color);
}

.fa-compass{
    color: var(--primary-color);
    font-size: 2rem;
}

/* footer*/
.f-info{
    text-align: center;
    height: 8rem;
    background-color: var(--bg-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.f-info-links a{
    text-decoration: none;
    color: var(--text-color);
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials,
.f-info-links,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
